<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu" >
        <div class="container">
            <div class="row col-md-8 mx-auto">
                <a class="navbar-brand" th:href="@{/}">TaskApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/task' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/task}">Create task</a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/showTasks' and #httpServletRequest.getQueryString() == 'user=me' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/showTasks?user=me}">My tasks</a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/showTasks' and #httpServletRequest.getQueryString() == 'user=all' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/showTasks?user=all}">All tasks</a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-md-0" method="post" action="#" th:action="@{/logout}">     
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>